<main>
  <div class='card text-bg-light'>
    <img
      class='card-img-top'
      src='https://picsum.photos/400/200'
      alt='Produkt photo'
    />

    <div class='card-body'>
      <h5 class='card-title text-bg-primary'>Produkt #16433</h5>
      <p class="text-bg-secondary">Кабель Baseus Cafule Cable USB for Type-C 3A 1 м
        Gray/Black (CATKLF-BG1)</p>
      <a href='/summary' class='btn btn-primary'>Open</a>
    </div>
  </div>

  <br />
  <br />
  <br />

  <div class='card text-bg-primary'>
    <div class='card-header'>
      <div>Menu</div>
    </div>  

      <ul class='list-group list-group-flush'>
        <li class='list-group-item text-bg-dark'>
          <a href='#' class='btn btn-link'>Home page</a>
        </li>
        <li class='list-group-item text-bg-warning'>
          <a href='#' class='btn btn-link'>Summary page</a>
        </li>
        <li class='list-group-item text-bg-danger'>
          <a href='#' class='btn btn-link'>Skills page</a>
        </li>
      </ul>

      <div class="card-footer">
        <button class="btn btn-dark btn-sm">Update list</button>
      </div>

    </div>
  </div>

  <br>
  <br>
  <br>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>
          #id
        </th>
        <th>
          name
        </th>
        <th>
          age
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th>1</th>
        <td>John</td>
        <td>35</td>
      </tr>
      <tr>
        <th>2</th>
        <td>Roman</td>
        <td>27</td>
      </tr>
      <tr>
        <th>3</th>
        <td>Serg</td>
        <td>42</td>
      </tr>
      <tr>
        <th>4</th>
        <td>Ivan</td>
        <td>29</td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>
  <br>

  <div class="card text-bg-success">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
        <h6 class="card-title">This is title</h6>
        <p>This is content of our box</p>
        <button class="btn btn-light">Click!</button>
    </div>
    <div class="card-footer text-center">Footer</div>
  </div>

  <br>
  <br>
  <br>

  <div class="row gx-3 gy-1">
        <div class="col-4">
          <div class="card text-bg-success">
            <div class="card-header text-center">Header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <p>This is content of our box</p>
                <button class="btn btn-light">Click!</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
      </div>
      <div class="col-4">
          <div class="card text-bg-success">
            <div class="card-header text-center">Header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <p>This is content of our box</p>
                <button class="btn btn-light">Click!</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
      </div>
      <div class="col-4">
          <div class="card text-bg-success">
            <div class="card-header text-center">Header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <p>This is content of our box</p>
                <button class="btn btn-light">Click!</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
                
      </div>
      <div class="col-4">
          <div class="card text-bg-success">
            <div class="card-header text-center">Header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <p>This is content of our box</p>
                <button class="btn btn-light">Click!</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
                
      </div>
      <div class="col-4">
          <div class="card text-bg-success">
            <div class="card-header text-center">Header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <p>This is content of our box</p>
                <button class="btn btn-light">Click!</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
                
      </div>
      
  </div>

</main>
<br />

<main>
  <h1 class='text-center text-uppercase'>Hello world</h1>
  <h2 class='text-end text-lowercase'>Second</h2>
  <h3 class='text-capitalize'>3 title one two</h3>

  <hr />

  <div class='display-1 text-muted'>Hello world</div>
  <div class='display-5'>Second</div>
  <div class='display-6'>3 title</div>

  <hr />

  <div class='text-muted text-end'>
    Додатковий текст
  </div>

  <hr />

  <button class='btn btn-success'>
    Button primary
  </button>

  <hr />

  <a href='#' class='btn btn-primary'>
    Button primary
  </a>

  <hr />

  <p class='text-muted'>My text</p>

  <div class='card'>
    <div class='card-body'>
      <button class='btn btn-secondary'>My button</button>
      <button class='btn btn-outline-secondary'>My button</button>
      <button class='btn btn-outline-danger'>My button</button>
    </div>
  </div>
  <br />

  <div class='card'>
    <div class='card-body'>
      This is content
    </div>
  </div>

  <div class="card" style="max-width: 18rem;">
  <div class="card-header bg-transparent">Header</div>
  <div class="card-body">
    <h5 class="card-title">Success card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-footer bg-transparent border">Footer</div>
</div>

</main>