<br>
<section>
    <h1>{{header}}</h1>
</section>
<section>
    {{#with purchase}}

         <ul class="nav nav-tabs mb-4">
            {{#each tabs}}
            <li class="nav-link {{#if @first}} active {{/if}}">{{this}}</li>
            {{/each}}
        </ul>
        
    {{/with}}
</section>