<div>
  <ul>
    {{#with navigation}}
      {{links.text}}
      {{links.href}}
    {{/with}}
  </ul>
  <ul>
    {{#with button}}
      {{button.text}}
      {{button.href}}
    {{/with}}
  </ul>
</div>